{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}
body{
	font:300 16px Oswald;
	background:#e9eaeb;
}

a{
	text-decoration:none;
}
#seldata{
	width:300px;
	margin:0 auto;
	border: 2px solid #f35a25;
	position:relative;
	background:#fff;
	padding:30px;
	top:60px;
}
#seldata label{
	padding:8px;
}
#login{
	width:300px;
	margin:0 auto;
	position:relative;
	top:200px;
	border: 2px solid #f35a25;
	padding:30px;
	background:#fff;
}
#cadastrar{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottom-left:8px;
	-moz-border-radius-bottom-right:15px;
	height:40px;
	width:120px;
	background:#056eb0;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	z-index: 2;
}
#cadastrar:hover a{
	color:#fff;
}
#cadastrar a{
	color:#feffe3;
	font:400 22px Oswald;
	padding-top:5px;
	display:block;
}
#cadastrar:hover{
	background:#f35a25;
	color:#feffe3
}
#voltar a{
	color:#feffe3;
	font:400 22px Oswald;
	padding-top:5px;
	display:block;
}
#voltar{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:40px;
	width:120px;
	background:#056eb0;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
}
#voltar:hover a{
	color:#fff;
}
#voltar:hover{
	background:#094a9c;
	color:#feffe3
}
#login label{
	display:block;
	padding-top:5px;
}
.message{
	width:100%;
    padding:3px;
	color: #e46b15;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
.flash{
	width:100%;
	height:40px;
	background:#056eb0;
	opacity: 0.5;
	text-align: center;
	line-height: 40px;
	font: 400 18px Oswald;
	color:white;
	position:absolute;
	top:0;
	left:0;
}
.logo{  
	width:150px;
	height:112px;
	margin:0 auto;
	padding:7px;
	position: relative;
	top: 5px;
}
.acomodar{
	margin:0 auto;
	width:250px;
}
.txt{
	border:none;
	height:40px;
	width:250px;
	border:thin solid #feffe3;
	background:#f2f0f0;
}
.txt:focus{
	border:thin solid #056eb0;
	box-shadow:0 2px 10px #056eb0;
	-webkit-box-shadow:0 2px 10px #056eb0;
	-moz-box-shadow:0 2px 10px #056eb0;
}
.txt:hover{
	border:thin solid #e46b15;
	box-shadow:0 2px 10px #e46b15;
	-webkit-box-shadow:0 2px 10px #e46b15;
	-moz-box-shadow:0 2px 10px #e46b15;
}
.sb{
	display:block;
	border:none;
	width:250px;
	height:40px;
	margin-top:10px;
	cursor:pointer;
	font:400 18px Oswald;
	color:#feffe3;
	background:#056eb0;
}
.sb:hover{
	background:#f35a25;
	color:#feffe3;
}


/*classes de herança*/
.bradius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
/*Multiplos Estilos*/
.txt,.txt:focus,.sb,.sb:hover,#cadastrar:hover,#cadastrar,#voltar,#voltar:hover,#sair,#sair:hover{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
}