* {
	
	padding:0;
	outline:none;
	list-style:none;
	color: #000;
}

body{
	margin:0 auto;
	font-family: 'Ubuntu',sans-serif;
	background:#e9eaeb;
}
h1,h2,h3,h4 {
	font-family: 'Ubuntu',sans-serif;
	text-align: center;
}
td {
	text-align: center;

}


th {
    font-weight: bold;
    text-align: center;
}
td, th {
    display: table-cell;
    vertical-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow-x: auto;
}
th, td {
    border: none;
    text-align: center;
    padding: 8px;
}
/*|----------------------------IDS---------------------------------------------|*/





/*|-------------------------CLASSES-------------------------------------------|*/
.footer {
    position:absolute;
    bottom:0;
    width:100%;
}
.negrito{
	 font-weight: bold;
}
.pagination>li{
	display:inline
}
.pagination>li>a,.pagination>li>span{
	position:relative;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#337ab7;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
	margin-left:0;
	border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{
	z-index:2;color:#23527c;
	background-color:#eee;
	border-color:#ddd;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
	z-index:3;
	color:#fff;
	cursor:default;
	background-color:#337ab7;
	border-color:#337ab7;
}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd;
}





.pagination{
	display:inline-block;
	margin:0 auto;
	border-radius:4px
}

.flash{
	width:100%;
	height:40px;
	background:#056eb0;
	opacity: 0.5;
	text-align: center;
	line-height: 40px;
	font: 400 18px Oswald;
	color:white;
	position:absolute;
	top:0;
	left:0;
}

.coracadalinha:nth-child(even){
	background-color: #4f8fe0;
}
.coracadalinha:nth-child(odd){
	background-color: #ff9800;
}
.title{
    background-color: #abb1ba;
    color: #000;
}

.hover:hover {
    background-color: #ffcc66;
}
.container {
    width:300px;
	margin:0 auto;
	/*border: 2px solid #00cc33;*/
	position:relative;
	/*background:#fff;*/
	padding:30px;
	top:60px;
}
.entrada{
	width:1350px;
	height:550px;
}
.xgrande{
	width:95%;
	height:90%;
}
.grande {
    width:900px;
}
.bradius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.campo{
	border:none;
	height:30px;
	width:250px;
	border:thin solid #feffe3;
	background:#f2f0f0;
}
.campo:focus{
	border:thin solid #056eb0;
	box-shadow:0 2px 10px #056eb0;
	-webkit-box-shadow:0 2px 10px #056eb0;
	-moz-box-shadow:0 2px 10px #056eb0;
}
.campo:hover{
	border:thin solid #e46b15;
	box-shadow:0 2px 10px #e46b15;
	-webkit-box-shadow:0 2px 10px #e46b15;
	-moz-box-shadow:0 2px 10px #e46b15;
}
.pequenocampo{
	border:none;
	height:30px;
	width:150px;
	border:thin solid #feffe3;
	background:#f2f0f0;
	text-align: center;
}
.pequenocampo:focus{
	border:thin solid #056eb0;
	box-shadow:0 2px 10px #056eb0;
	-webkit-box-shadow:0 2px 10px #056eb0;
	-moz-box-shadow:0 2px 10px #056eb0;
}
.pequenocampo:hover{
	border:thin solid #e46b15;
	box-shadow:0 2px 10px #e46b15;
	-webkit-box-shadow:0 2px 10px #e46b15;
	-moz-box-shadow:0 2px 10px #e46b15;
}
.btn{
	
	text-align: center;
	display:block;
	border:none;
	width:120px;
	height:40px;
	margin-top:10px;
	cursor:pointer;
	font:400 18px Oswald;
	color:#feffe3;
	background:#056eb0;

}
.btn:hover{
	background:#f35a25;
	color:#feffe3;
}
.centrar{
	margin:0 auto;
}
.tralizar{
	padding: 10px 10px 10px 10px;
}
.fright{
	float:right;
}