

*{
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
}
body{
	font:300 16px Oswald;
	background:#e9eaeb;
}
/*body{
	font:300 16px Oswald;
	background-image:url(http://localhost/site/css/images/logo.jpg);
    background-repeat:no-repeat;
	background-attachment:fixed;
    background-size:cover;
}*/
a{
	text-decoration:none;
}

#seldata{
	width:350px;
	margin:0 auto;
	border: 2px solid #f35a25;
	position:relative;
	background:#fff;
	padding:30px;
	top:60px;
}
#seldata label{
	padding:8px;
}
#login{
	width:300px;
	margin:0 auto;
	position:relative;
	top:110px;
	border: 2px solid #f35a25;
	padding:30px;
	background:#fff;
}
#mensage{
	width:600px;
	margin:0 auto;
	position:relative;
	top:200px;
	border: 2px solid #f35a25;
	padding:30px;
	background:#fff;
}
#cadastrar{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottom-left:8px;
	-moz-border-radius-bottom-right:15px;
	height:40px;
	width:120px;
	background:#056eb0;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	z-index: 2;
}
#cadastrar:hover a{
	color:#fff;
}
#cadastrar a{
	color:#feffe3;
	font:400 22px Oswald;
	padding-top:5px;
	display:block;
}
#cadastrar:hover{
	background:#f35a25;
	color:#feffe3
}
#voltar a{
	color:#feffe3;
	font:400 22px Oswald;
	padding-top:5px;
	display:block;
}
#voltar{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:40px;
	width:120px;
	background:#056eb0;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
}
#voltar:hover a{
	color:#fff;
}
#voltar:hover{
	background:#094a9c;
	color:#feffe3
}
#login label{
	display:block;
	padding-top:5px;
}
.message{
	width:100%;
    padding:3px;
	color: #e46b15;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
.mail{
	width:100%;
    padding:3px;
	color: #000000;
	background: #fff;
	margin: 0 auto;
	
}
.flash{
	width:100%;
	height:40px;
	background:#056eb0;
	opacity: 0.5;
	text-align: center;
	line-height: 40px;
	font: 400 18px Oswald;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
}
.logo{  
	width:150px;
	height:112px;
	margin:0 auto;
	padding:7px;
	position: relative;
	top: 5px;
}
.acomodar{
	margin:0 auto;
	width:250px;
}
.txt{
	
	height:40px;
	width:250px;
	border:thin solid #feffe3;
	background:#f2f0f0;
}
.usuario{
	font-size: 16px;
	text-align: center;
	margin-left: 30px;
}
.txt:focus{
	border:thin solid #056eb0;
	box-shadow:0 2px 10px #056eb0;
	-webkit-box-shadow:0 2px 10px #056eb0;
	-moz-box-shadow:0 2px 10px #056eb0;
}
.txt:hover{
	border:thin solid #e46b15;
	box-shadow:0 2px 10px #e46b15;
	-webkit-box-shadow:0 2px 10px #e46b15;
	-moz-box-shadow:0 2px 10px #e46b15;
}
.sb{
	display:block;
	border:none;
	width:250px;
	height:40px;
	margin-top:10px;
	cursor:pointer;
	font:400 18px Oswald;
	color:#feffe3;
	background:#056eb0;
}
.sb:hover{
	background:#f35a25;
	color:#feffe3;
}
#tSof{
	border: 1px solid black;
	background: #f2f0f0;
}
#tSof:focus{
	border:thin solid #056eb0;
	box-shadow:0 2px 10px #056eb0;
	-webkit-box-shadow:0 2px 10px #056eb0;
	-moz-box-shadow:0 2px 10px #056eb0;
}
#tSof:hover{
	border:thin solid #e46b15;
	box-shadow:0 2px 10px #e46b15;
	-webkit-box-shadow:0 2px 10px #e46b15;
	-moz-box-shadow:0 2px 10px #e46b15;
}
/*classes de herança*/
.bradius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.windows8 {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	display: none;
}

.windows8 .wBall {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 30%; 
	left:45%;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 5.1425s infinite;
		-o-animation: orbit 5.1425s infinite;
		-ms-animation: orbit 5.1425s infinite;
		-webkit-animation: orbit 5.1425s infinite;
		-moz-animation: orbit 5.1425s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 9px;
	height: 9px;
	background: rgb(11,28,214);
	left:0px;
	top:0px;
	border-radius: 9px;
}

.windows8 #wBall_1 {
	
	animation-delay: 1.126s;
		-o-animation-delay: 1.126s;
		-ms-animation-delay: 1.126s;
		-webkit-animation-delay: 1.126s;
		-moz-animation-delay: 1.126s;
}

.windows8 #wBall_2 {
	
	animation-delay: 0.223s;
		-o-animation-delay: 0.223s;
		-ms-animation-delay: 0.223s;
		-webkit-animation-delay: 0.223s;
		-moz-animation-delay: 0.223s;
}

.windows8 #wBall_3 {
	
	animation-delay: 0.4465s;
		-o-animation-delay: 0.4465s;
		-ms-animation-delay: 0.4465s;
		-webkit-animation-delay: 0.4465s;
		-moz-animation-delay: 0.4465s;
}

.windows8 #wBall_4 {

	animation-delay: 0.6695s;
		-o-animation-delay: 0.6695s;
		-ms-animation-delay: 0.6695s;
		-webkit-animation-delay: 0.6695s;
		-moz-animation-delay: 0.6695s;
}

.windows8 #wBall_5 {
	
	animation-delay: 0.903s;
		-o-animation-delay: 0.903s;
		-ms-animation-delay: 0.903s;
		-webkit-animation-delay: 0.903s;
		-moz-animation-delay: 0.903s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

.fleft{
	float:left;
}
.fright{
	float:right;
}
/*Multiplos Estilos*/
.txt,.txt:focus,.sb,.sb:hover,#cadastrar:hover,#cadastrar,#voltar,#voltar:hover,#sair,#sair:hover{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
}
