*{
	margin:0;
	padding: 0;
	outline:none;
	list-style:none;
}

body{
	font:300 16px Oswald;
	background:#e9eaeb;
}

a{
	text-decoration:none;
}
td{
	text-align: center;
	
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
#notificacaoTemp{
	width:423px;
	height: 180px;
	margin:0 auto;
	border: 2px solid #f35a25;
	position:relative;
	background:#fff;
	padding:30px;
	top:60px;

}
#tValidar{
	width:900px;
	margin:0 auto;
	border: 2px solid #f35a25;
	position:relative;
	background:#fff;
	padding:30px;
	top:60px;
}
#tValidar label{
	padding:8px;
}
#seldata{
	width:350px;
	margin:0 auto;
	border: 2px solid #f35a25;
	position:relative;
	background:#fff;
	padding:30px;
	top:60px;
}
#seldata label{
	padding:8px;
}
#cadastrar{
	border-bottom-left-radius:8px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:15px;
	height:40px;
	width:120px;
	background:#056eb0;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	z-index: 2;
}
#cadastrar:hover a{
	color:#fff;
}
#cadastrar a{
	color:#feffe3;
	font:400 22px Oswald;
	top:5px;
	display:block;
}
#frames{
	height: 88.3%;
	width: inherit;
}
#cadastrar:hover{
	background:#f35a25;
	color:#feffe3
}
#fountainG{
	position:relative;
	width:126px;
	height:15px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(23,17,214);
	width:15px;
	height:15px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:2.67s;
		-o-animation-duration:2.67s;
		-ms-animation-duration:2.67s;
		-webkit-animation-duration:2.67s;
		-moz-animation-duration:2.67s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:10px;
		-o-border-radius:10px;
		-ms-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
}

#fountainG_1{
	left:0;
	animation-delay:1.07s;
		-o-animation-delay:1.07s;
		-ms-animation-delay:1.07s;
		-webkit-animation-delay:1.07s;
		-moz-animation-delay:1.07s;
}

#fountainG_2{
	left:16px;
	animation-delay:1.33s;
		-o-animation-delay:1.33s;
		-ms-animation-delay:1.33s;
		-webkit-animation-delay:1.33s;
		-moz-animation-delay:1.33s;
}

#fountainG_3{
	left:31px;
	animation-delay:1.6s;
		-o-animation-delay:1.6s;
		-ms-animation-delay:1.6s;
		-webkit-animation-delay:1.6s;
		-moz-animation-delay:1.6s;
}

#fountainG_4{
	left:47px;
	animation-delay:1.87s;
		-o-animation-delay:1.87s;
		-ms-animation-delay:1.87s;
		-webkit-animation-delay:1.87s;
		-moz-animation-delay:1.87s;
}

#fountainG_5{
	left:63px;
	animation-delay:2.13s;
		-o-animation-delay:2.13s;
		-ms-animation-delay:2.13s;
		-webkit-animation-delay:2.13s;
		-moz-animation-delay:2.13s;
}

#fountainG_6{
	left:79px;
	animation-delay:2.4s;
		-o-animation-delay:2.4s;
		-ms-animation-delay:2.4s;
		-webkit-animation-delay:2.4s;
		-moz-animation-delay:2.4s;
}

#fountainG_7{
	left:94px;
	animation-delay:2.67s;
		-o-animation-delay:2.67s;
		-ms-animation-delay:2.67s;
		-webkit-animation-delay:2.67s;
		-moz-animation-delay:2.67s;
}

#fountainG_8{
	left:110px;
	animation-delay:2.93s;
		-o-animation-delay:2.93s;
		-ms-animation-delay:2.93s;
		-webkit-animation-delay:2.93s;
		-moz-animation-delay:2.93s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(30,91,214);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(30,91,214);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(30,91,214);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(30,91,214);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(30,91,214);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}




.pagination>li{
	display:inline
}
.pagination>li>a,.pagination>li>span{
	position:relative;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#337ab7;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd;
}
.pagination>li:first-child>a,.pagination>li:first-child>span{
	margin-left:0;
	border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
.pagination>li:last-child>a,.pagination>li:last-child>span{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{
	z-index:2;color:#23527c;
	background-color:#eee;
	border-color:#ddd;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{
	z-index:3;
	color:#fff;
	cursor:default;
	background-color:#337ab7;
	border-color:#337ab7;
}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd;
}





.pagination{
	display:inline-block;
	margin:0 auto;
	border-radius:4px
}





/* DROPDOWN MENU BAIXO - INICIO */
.menu{
  width: 100%;
  height:5.7%;
  background-color:aliceblue;
  margin-top: 16px;
  padding: 0px;
}
.menu ul{
	list-style:none;
	position:relative;
}

.menu ul ul{
	position: absolute;
	visibility: hidden;

}

.menu li{
	border: solid 1px #056eb0;
    border-top: none;
	border-left:none;
}

.menu li a{
	padding:10px;
	display:block;
	text-decoration: none;
	text-align: center;
	background-color: aliceblue;
	font:400 18px Oswald;

}
.centrar{
	margin:0 auto;
}

.menu ul  li{
	width: 150px;
	float:left;
	height: 45px;

}	

.menu ul li:hover ul{
   visibility:visible;
}

.menu  ul a:hover{
	background-color: black;
	color: white;
}

.menu ul ul li{
	float:none;
	border-bottom: solid 1px #ccc;

}

.menu ul ul li a{
	background-color: orange;
	border: 1px solid #ccc; 
}
/* DROPDOWN MENU BAIXO - FIM */

/* DROPDOWN PELA DIREITA - INICIO*/
.submenu ul li{
	position:relative;
}
.local li a{
	top: 80px;
}
.submenu li ul{
	position: absolute;
	left: 151px;
	top: 4px;
	display: none;
	}
.submenu ul li a {
	display: block;
	text-decoration: none;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc; 
}
.submenu li:hover ul { 
	display: block; 
}
/* DROPDOWN PELA DIREITA - FIM */

.message{
	width:100%;
    padding:3px;
	color: #e46b15;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
.flash_1{
	width:100%;
	height:4.9%;
	background:#056eb0;
	text-align: center;
	line-height: 40px;
	font: 400 18px Oswald;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
}
.flash{
	width:100%;
	height:4.9%;
	background:#056eb0;
	text-align: center;
	line-height: 40px;
	font: 400 18px Oswald;
	color:#fff;
	position:absolute;
	top:0;
	left:0;
}
.fram1{
	width: 70%;
	height: 100%;

}
.fram2{
    border:2px solid #f35a25;
    width: 29%;
    height: 100%;
}
.bradius{
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
.txt{
	
	height:40px;
	width:250px;
	border:thin solid #feffe3;
	background:#f2f0f0;
}
.txt:focus{
	border:thin solid #056eb0;
	box-shadow:0 2px 10px #056eb0;
	-webkit-box-shadow:0 2px 10px #056eb0;
	-moz-box-shadow:0 2px 10px #056eb0;
}
.txt:hover{
	border:thin solid #e46b15;
	box-shadow:0 2px 10px #e46b15;
	-webkit-box-shadow:0 2px 10px #e46b15;
	-moz-box-shadow:0 2px 10px #e46b15;
}
.sb{
	display:block;
	border:none;
	width:250px;
	height:40px;
	margin-top:10px;
	cursor:pointer;
	font:400 18px Oswald;
	color:#feffe3;
	background:#056eb0;
}
.sb:hover{
	background:#f35a25;
	color:#feffe3;
}
.txt,.txt:focus,.sb,.sb:hover,#cadastrar:hover,#cadastrar,#voltar,#voltar:hover,#sair,#sair:hover{
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
}
